.header{
    background-color: #fafafa;
    //height: 175px;
    border-bottom:1px solid #b2b2b2;
    .logo-wrap{
        text-align: center;
        vertical-align: bottom;
        //padding-bottom:1px;
    }
}
.sub-header{
    line-height: 122px;
    //height:130px;
    font-size: 1.4em;
    background-color: #fff;
    border-bottom:8px solid #fafafa;
}
